.team-card {
  display: flex;
  justify-content: center;
  width: 500px;
  border: 1px solid #383F51;
  margin-bottom: 2px;
  background-color: azure;

  a {
    color: #383F51;
    font-size: 12px;
    width: 500px;
  }
}

.team-name {
  padding-left: 10px;
}

.team-phone {
  padding-right: 10px;
}
