.team-card {
  display: flex;
  justify-content: center;
  width: 750px;
  height: 100px;
  border: 1px solid #383F51;
  margin-bottom: 2px;
  background-color: azure;
  border-radius: 5px;

  a {
    color: #383F51;
    font-size: 12px;
    width: 750px;
  }
}

.team-name {
  padding-left: 10px;
}

.team-code {
  padding-right: 10px;
}
